@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');


:root {
  --primary: #FDC644;
  --secundary: #F09F20;
  --attention: #EF404D;
  --softblue: #4B8FBD;
  --black: #37352E;
  --white: #f1f1f1;
  } 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}




h1{
  font-family: "Lato",sans-serif;
  padding-top: 16px;
}



.chamada{
  max-width: 90%;
  margin-top: 30px;
  font-size: 3.4rem;
  opacity:0.5
}

header {
  min-height: 80px;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  padding: 8px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 80px;
  z-index: 10;
}

header .menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 980px;
  margin: auto;
}

header .menu-nav .menu-section{
  display: flex;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
 display: flex;
}

header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 2.0rem;
  padding:0 10px;
  transition:  0.8 linear 0s;
}

header nav ul li a:hover {
  
  color: #f00(255, 255, 255, 0.15);
}

/*=============== 
intro
==================*/

.hero{
  padding-top: 120px;
  background-image:linear-gradient(to bottom, var(--white), #FFF);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

section.intro .intro-news {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.subtitle-intro{
  width: 100%;
  font-size:3.2rem;
}



.form-novidades{
  
  margin-bottom: 15px;

}

.input-mailchimp{
  display: flex;
  align-items: center;
}
input[type="email-news"] {
  width: 67%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.8rem;
}

.form-button-news {
  width: 27%;
  height: 60px;
	box-shadow: 2px 1px 8px -2px var(--attention);
	background-color:var(--attention);
  border: none;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Flama", sans-serif;
	font-size:  2.0rem;
  margin-left: 10px;
	padding:10px 10px;
	text-decoration:none;
}

.form-button-news:hover {
	background-color:var(--attention);
  opacity: 0.8;
}
.form-button-news:active {
	position:relative;
	top:1px;
}

.img-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=============== 
SOBRE
==================*/
.sobre{
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sobre img{
  width: 407,7px;
  height: 484px;
}

.sobre div p{
  padding-top: 24px;
  width: 340px;
  font-family: "Lato",sans-serif;
}


/*=============== 
APRENDA
==================*/


.aprenda{
  display: flex;
  flex-direction:column;
}

.title-center{
  padding-top: 50px;
  display: flex;
  flex-direction:column;
  align-items:center;
}

.slider{
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}

.card-video{
  display: flex;
  flex-direction:column;
  width: 30%;
  background-color:#E4E2E2;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 1px 8px -2px #363636;

}

.card-video iframe{
  border-radius: 8px 8px 0 0;
}

iframe{
  border: none;
  width: 100%;
  height: 200px;
}

.card-video p{
  font-size: 1.6rem;
  padding:16px ;
}



.video-footer{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.video-perfil {
  display: flex;
  align-items: center;
  width: 80px;
  height:72px;
}
.video-perfil img{
  margin-left: 18px;
  width: 68px;
  height:68px;
}

.conteudo-video{
  display: flex;
  flex-direction:column;
  padding: 16px;
}

.conteudo-video p{
  padding:0;
}

.conteudo-video img{
  width: 20px;
  height: 20px;
  margin-right:5px;
}

.video-duracao{
  display: flex;
  padding: 5px;
}

.video-dificuldade{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

/*=============== 
CONSULTORIA
==================*/
.consultoria{
  background-color: #4B8FBD;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

.consult-cards{
  display: flex;
  justify-content:space-evenly;
  margin-top: 36px;
}
.consult-top-card{
  background-color: var(--primary);
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  box-shadow: 2px 1px 8px -2px var(--primary);
}

.consult-card{
  background-color: #fff;
  border-radius: 8px;
  width: 300px;
  height: 470px;

  display: flex;
  flex-direction: column;
  align-items: center;


  border: none;
  box-shadow: 2px 1px px -2px var(--white);

}

.consult-card h1{
  padding: 24px;
}
.consult-card p{
  padding: 0 24px 18px;
  font-size: 1.8rem;
}

.consult-img{
  color: #fff;
  width: 90px;
}  



/*=============== 
DEPOIMENTOS
==================*/
.depo-cards{
  margin-top: 42px;
  margin-bottom: 42px;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.depo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:30%;
  transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.depo-card:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  
}

.depo-testimonial{
  height:250px;
  background:#ccc;
  padding: 16px;
  border-radius: 8px ;
  display: flex;
  justify-content: center;
  align-items: center;

}  

.depo-testimonial:hover{
  background:#F1AD56;
  color:white;
  font-weight: bold;
}

.depo-perfil{
  margin-top: -36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote p{
  display: flex;
  align-items: center;
  text-align: center;
}

.depo-perfil img{
  border-radius: 100%;
  width: 100px;
  box-shadow: 2px 1px 8px -2px rgb(185, 185, 185);
}

/*=============== 
Treinamentos
==================*/
.treinamentos{
  
  background-color: var(--primary);
  padding: 50px 30px 30px 30px;
  width: 100%;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treinamentos-texto{
  max-width:411px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  padding: 26px;
}

.treinamentos-texto p{
  padding: 16px 0 0;
}

/*=============== 
CONTATO
==================*/

.bg-footer{
  background-image: url(/images/bg-footer.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.contato {
  width: 90%;
  max-width: 980px;
  margin: auto;

  
  display: flex;
  flex-direction: row;
  justify-content:space-between; 

  padding-bottom: 16px;
}
.contato-title{
  width:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato-sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.4rem;
}

.contato-email{
  display: flex;
  align-items: center;
  padding:16px 0;
  font-size: 2.4rem;

}

.contato-email img{
  width: 50px;
}

.contato-email a{
  text-decoration: none;
  color: #000;
}

.redes-sociais {
  display: flex;
  padding: 16px 0;
  justify-content: space-evenly;
}

.redes-sociais a:hover{
  filter: grayscale(1);
  opacity: 0.5;
}


.form-contato{
  margin-top:50px;
}


/*inputs*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 8px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 350px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1.6rem;
  background-color: rgb(241, 241, 241);
  color: #37352E;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15rem;
}

.input-container {
  width: 350px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

form button {
  border: none;
}

.submit-btn {
  width:100%;
  padding: 16px 16px;
  border-radius: 8px;
  display: inline-block;
  background-color: var(--attention);
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}

 

/*inputs*/




.footer{
  background-color: #F1AD56;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  padding:16px;

}

.accosistemas{
  display: flex;
  flex-direction:row;
  align-items: center;
  
}
.accosistemas a{
  color: #000;
  text-decoration: none;

}







/*=============== 
RESPONSIVE
==================*/

@media screen and (max-width: 1024px){
  
  
  
  .img-hero img {
    width: 300px;
    height: 300px;
  }  

  .sobre{
    padding: 30px 0;
  }
  .sobre img {
    width: 300px;
    height: 300px;
  } 

  .title-video{
    height:89px;
  }

  .video-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
  }
  

  .consult-card{
    width: 300px;
  }
}

@media  screen and (max-width: 768px){

  .intro-text{
    font-size: 70%;
  }
  .subtitle-intro{
    font-size: 200%;
  }

  .input-mailchimp{
    height: 140px;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-button-news{
    margin-left: 0;
  }
  input[type="email-news"] {
    width: 100%;

  }
  input[type="submit"]{
    width:100%;
  }

  .img-hero img{
    width: 200px;
    height: 200px;
  }

  .sobre{
    padding: 30px 0;
  }
  .sobre img {
    width: 200px;
    height: 200px;
  } 

  .slider{
    margin-top:30px;
    padding: 0;
  }

  .card-video{
    width: 220px;
  }

  .conteudo-video{
    padding: 8px;
    flex-direction: row;
  }

  .consultoria{
    margin-top: 30px;
  }

  .consult-img{
    width: 30%;
  }

  .consult-top-card{
    height: 80px;
  }

  .consult-card{
    width: 220px;
    height: 420px;
    font-size: 1.4rem;
  }
  .consult-card p{
    font-size: 1.4rem;
  }

  .video-perfil img{
    margin-left: 8px;
  }
  .depo-testimonial{
    height: 240px;
  }
  .quote p{
    font-size: 1.2rem;
  }

  .depo-perfil p {
    font-size: 1.2rem;
  }

  .treinamentos-texto{
    width: 70%;
    font-size: 90%;
  }

  .contato-email a{
    font-size:1.4rem;
  }

  .contato-sobre{
    align-items: flex-start;
  }

  .contato form input{
    padding: 25px;
  }
}

@media screen and (max-width: 540px) {
  header{
    height: 70px;
  }
  .logo a img{
    width: 70%;
  }


  nav {
      display: none;
  }

  .one,
  .two,
  .three {
      background-color: var(--primary);
      height: 5px;
      width: 100%;
      margin: 6px auto;

      transition-duration: 0.3s;
  }

  .menu-toggle {
      width: 40px;
  }

  /* fullscreen */
  .menu-section.on {
      position: absolute;
      top:0;
      left:0;
      
  
      width: 100vw;
      height: 100vh;

      background-color: white;
      z-index: 10;

      display: flex;
      justify-content: center;
      align-items: center;
  }

  .menu-section.on nav {
      display: block;
  }

  .menu-section.on .menu-toggle {
      position: absolute;
      right: 25px;
      top: 15px;
  }

  .menu-section.on .menu-toggle .one {
      transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
      opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
      transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
      text-align: center;
      display: block;
  }

  .menu-section.on nav ul a{
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }

  .sobre{
    flex-direction:column;
    padding: 30px 0;
  }
  .sobre img {
    width: 150px;
    height: 150px;
  } 
  
  .slider{
    flex-direction:column;
  }
  card-video {
    width: 70%;
  }

  .intro-news {
    flex-direction: column-reverse;
    align-items: center;
  }

  .intro-edi{
    text-align: center;
  }

  .img-hero img {
    width: 150px;
    height: 150px;
  }



  .contato {
    flex-direction:column;
  }


  .chamada{
    font-size: 2.6rem;
    text-align: center;
    padding-top: 32px;
  }

  .slider {
    display: flex;
    align-items: center;
  }

  .card-video {
    margin-top:32px;
    width: 320px;
  }

  .consultoria{
    height:100%;
    margin-bottom: 32px;
    background-size: cover;
  }

  .consult-cards{
    flex-direction:column;
    align-items: center;
  }

  .consult-top-card{
    height:120px;
  }
  .consult-card{
    width: 320px;
    margin-top:32px;
  }

  .depoimentos{
    margin-top: 0;
  }

  .depo-cards{
    flex-direction: column;
  }

  .depo-card{
    margin-top:32px;
    width: 320px;
  }

  .depo-card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .quote p{
    font-size: 1.4rem;
  }

  .treinamentos{
    padding-top: 90px;
    display: flex;
    flex-direction:column-reverse;
  }

 
  .treinamentos-texto{
  
    width: 400px;
  }
  .treinamentos-texto .chamada{
    text-align: left;
  }
  .contato{
    align-items:center;
    margin-top: -30px;
    padding-bottom: 32px;
    flex-direction: column-reverse;
  }

  .contato-title{
    padding-top: 80px;
    width:90%;
  }
  .contato-title h1{
    padding-left: 30px;
    text-align: left;

  }

  .img-treinamentos{
    display: flex;
    justify-content:center;
    align-items:center;
  }

  .img-treinamentos img{
    width: 80%;
  }

  .contato-email{
    display: none;
  }

  .contato-edi-social{
    margin-top:32px;
    align-items: center;
  }
  .contato-sobre{
    align-items: center;
  }

  .bg-footer{
    background-size: cover;
  }

  .footer{
    flex-direction:column;
  }

}

@media screen and (max-width: 375px) {
  

  .treinamentos-texto{
    width: 90%;
  }
}

@media screen and (max-width: 320px) {

  
  .sobre div p{
    width: 280px;
  }


  .intro-edi{
    font-size:75%;
  }
  

  .sobre-texto{
    width: 90%;
  }

  .card-video{
    width: 280px;
  }
  .consult-card{
    width: 280px;
  }

  .depo-card{
    width: 280px;
  }

  .contato form{
    width: 280px;
  }
}